@model Model.Models.Offert

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Detalle</h1>

<div>
    <h4>Offerta</h4>
    <hr />
    <div class="row justify-content-around">
        <div class="col-sm-6">
            <dl class="row">

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Duration)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Duration)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Concept)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Concept)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>
        <div class="col-sm-6">
            @if (Model.ImageOfferts.Count == 0)
            {
                <div>
                    <i class="far fa-sad-cry text-center" style="font-size:100px;"></i>
                    <h2 class="text-center">No hay imagenes</h2>
                </div>
            }
            <div class="col">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model.ImageOfferts)
                        {
                            string active = i++ == 0 ? "active" : string.Empty;
                            <div id="@item.ImageName" class="carousel-item @active">
                                <img class="d-block w-100" height="400" id="@item.ImageName" src="~/files/@item.ImageName" alt="First slide">
                            </div>
                        }
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    
  
</div>
<div>
    <a asp-action="Offerts" asp-controller="Admin" class="btn btn-dark btn-block mt-5">Volver</a>
</div>