@model Model.ViewModels.HomeVM

@inject IOptions<ImageServerOption> _options;

<main class="site-main">

    <partial name="_OffertsPartial" model="Model.Offert" />

    <section class="section-margin calc-60px">
        <div class="container">
            <div class="section-intro pb-60px">
                <p>Productos populares</p>
                <h2> <span class="section-intro__style">Productos</span></h2>
            </div>
            <div class="row animate__animated animate__fadeInLeft">
                @foreach (var item in Model.Products)
                {
                    var img = item.ProductPics.FirstOrDefault() != null ? $@"{_options.Value.BasePath}\{item.ProductPics.FirstOrDefault().Path}" : "/img/default.png";

                    <a asp-action="GetById" asp-controller="Product" asp-route-id="@item.Id" style="cursor:pointer;" class=" zoomeable col-md-6 col-lg-4 col-xl-3 text-center">
                        <img height="200" width="200" src="@img" alt="">
                        <h4 class="mt-2">@item.ProductName</h4>
                        <p class="mt-2">
                            @item.Category.Name <br />
                            <b class="text-success">@item.Price.ToString("C")</b>
                        </p>
                    </a>
                }
            </div>
            @if (!Model.Products.Any())
            {
                <div class="row">
                    <div class="col">
                        <h1>No hay productos en existencia.</h1>
                    </div>
                </div>
            }
        </div>
    </section>
</main>