@model Model.ViewModels.ShopVM
<link href="~/css/category/style.css" rel="stylesheet" />
<section class="section-margin--small mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <!-- Start Filter Bar -->
                <h1>Busqueda de productos</h1>
                <form asp-action="Filter" method="get">
                    <div class="filter-bar d-flex flex-wrap align-items-center">
                        <div class="sorting">
                            <span>
                                Desde $
                                <input type="number" min="1" class="inputPrice" name="From" />
                            </span>
                            <div id="lower-value"></div>
                            <br />
                            <span>
                                Hasta $
                                <input type="number" min="1" class="inputPrice" name="To" />
                            </span>

                        </div>
                        <div class="sorting mr-auto">

                        </div>
                        <div class="">
                            <div class="input-group filter-bar-search">
                                <partial name="_ListOfCategoriesPartial" model="Model">
                                    <input type="text" name="parameter" placeholder="Search">
                                    <button type="submit" class="btn btn"><i class="ti-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- End Filter Bar -->
                <!-- Start Best Seller -->
                <section class="lattest-product-area pb-40 category-list">
                    <div class="row">
                        @foreach (var item in Model.Products.Products)
                        {
                            var pic = item.ProductPics.FirstOrDefault() != null ? item.ProductPics.FirstOrDefault().PicName : "default.png";

                            <div class="col-md-6 col-lg-4">
                                <div class="card text-center card-product">
                                    <div class="card-product__img">
                                        <img class="card-img" src="~/files/@pic" height="263" width="280" alt="@pic">
                                        <ul class="card-product__imgOverlay">
                                            
                                            <li><a asp-action="GetById" asp-controller="Product" asp-route-id="@item.Id" class="ti-eye"></a></li>
                                            <li><button><i class="ti-shopping-cart"></i></button></li>
                                        </ul>
                                    </div>
                                    <div class="card-body">
                                        <p>@item.Category.Name</p>
                                        <h4 class="card-product__title"><a href="#">@item.ProductName</a></h4>
                                        <p class="card-product__price">$@item.Price</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </section>
                <!-- End Best Seller -->
            </div>
        </div>
    </div>
</section>


@{
    var PageQuantity = (int)Math.Ceiling((double)Model.Products.TotalOfRegisters / Model.Products.RegisterByPage);

    int initial = 1;
    var distance = 2;
    var maximunQuantityPage = distance * 2 + 1;
    int Final = (PageQuantity > maximunQuantityPage) ? maximunQuantityPage : PageQuantity;
    if (Model.Products.ActualPage > (distance + 1))
    {
        initial = Model.Products.ActualPage + distance;
    }
    else
    {
        Final = PageQuantity;
    }

}

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        @{string bosstrapClass = Model.Products.ActualPage == 1 ? "disabled" : " "; }
        <li class="page-item @bosstrapClass">
            <a  asp-action="Index" class="page-link" >Primera</a>
        </li>
        @for (int i = initial; i <= Final; i++)
        {
            if (i == Model.Products.ActualPage)
            {
                <li class="active page-item">
                   <a asp-action="Index" asp-route-page="@i" class="page-link" >@i.ToString()</a>
                </li>
            }
            else
            {
                <li class="page-item">
                   <a asp-action="Index" asp-route-page="@i" class="page-link" >@i.ToString()</a>
                </li>
            }
        }
        <li class="page-item">
            <a asp-action="Index" asp-route-page="@PageQuantity" class="page-link" >Ultima</a>
        </li>
    </ul>
</nav>


