@using OnlineShop.ExtensionMethods
@using Model.Enums
@model Model.Models.Order

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>ESTADO DE LA ORDEN @Model.OrderCode </h1>
                <div class="mb-5">
                    <i class="fas fa-calendar-week"></i>
                    Ultima actualización => @Model.UpdatedAt.ToShortDateString()
                </div>
                @{
                    var bgClass = Model.StateOrder == StateOrder.Canceled ? "bg-danger" : Model.StateOrder == StateOrder.Delivered ? "bg-success" : string.Empty;
                }
            </div>
            <div class="col-12">
                <div class="progress" style="height: 40px;">
                    <div class="progress-bar @bgClass" role="progressbar" style="width: @ViewData["StatusPercent"]%;" aria-valuenow="@ViewData["StatusPercent"]" aria-valuemin="0" aria-valuemax="100">
                       @Model.StateOrder.GetAttribute()
                    </div>
                </div>
            </div>
            <div class="col-12">
                <form asp-action="UpdateOrder">
                    <input type="hidden" name="saleId" value="@Model.Sale.Id" />
                    <input type="hidden" name="Id" value="@Model.Id"/>
                    <div class="form-group">
                        <label></label>
                        <select asp-for="StateOrder" asp-items="Html.GetEnumSelectList<StateOrder>()" class="form-control">
                        </select>
                    </div>
                    <div class="form-group">
                        <label></label>
                        <textArea class="form-control" asp-for="Description"></textArea>
                        <span asp-validation-for="Description"></span><br />
                        <button class="btn btn-sm btn-primary mt-1">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>