@model PaginationResult<Cupon>
@{
    ViewData["Title"] = "Cupons";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var filters = ViewBag.Filter as CouponFilterVM;
}


<div class="row">
    <div class="col-12">
        <h3>Cupones</h3>
        <a asp-action="Add" asp-controller="Cuppon">Nuevo</a>
        <i>@Model.Total Cupones</i>
        <hr />
    </div>
    <div class="col-12">
        <form method="get">
            <div class="row justify-content-end">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-2">
                    <input placeholder="Buscar" class="form-control form-control-sm" name="Q" value="@filters?.Q" />
                </div>
                <div class="col-12 col-sm-12 col-md-2 col-lg-2 mb-2">
                    @if (filters?.State == StateCuppon.Valid)
                    {
                        <input type="checkbox" name="State" value="@StateCuppon.Valid" checked />
                    }
                    else
                    {
                        <input type="checkbox" name="State" value="@StateCuppon.Valid" />
                    }
                    <label class="text-success">* Valido</label>

                    @if (filters?.State == StateCuppon.Invalid)
                    {
                        <input type="checkbox" name="State" value="@StateCuppon.Invalid" checked />
                    }
                    else
                    {
                        <input type="checkbox" name="State" value="@StateCuppon.Invalid" />
                    }
                    <label class="text-danger">* Invalido</label>
                </div>
                <div class="col-12 col-sm-12 col-md-2 col-lg-2 mb-2">
                    <button class="btn btn-block btn-primary btn-sm"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-12">



        <div class="card mb-3">

            <div class="card-body">
                <div class="table-responsive animate__animated animate__fadeInLeft">
                    <table class="table table-sm table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Monto</th>
                                <th>Descripción</th>
                                <th>¿Es valido?</th>
                                <th>Acciones</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Results)
                            {
                                <tr>
                                    <td>@item.Code</td>
                                    <td>@item.Amount.ToString("C")</td>
                                    <td>@item.Concept</td>
                                    <td>

                                        @if (item.IsValid)
                                        {
                                            <input id="toggle" name="StateOfCuppon" type="checkbox"
                                                   onchange="changeState(this,'@item.Id', '@item.StateOfCuppon')"
                                                   checked data-toggle="toggle"
                                                   data-on="Si" data-off="No"
                                                   data-size="xs" />
                                        }
                                        else
                                        {
                                            <input id="toggle" name="StateOfCuppon" type="checkbox"
                                                   onchange="changeState(this, '@item.Id', '@item.StateOfCuppon')"
                                                   data-toggle="toggle"
                                                   data-on="Si" data-off="No"
                                                   data-size="xs" />
                                        }
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-primary mb-1"
                                                data-toggle="tooltip"
                                                data-placement="top"
                                                title="Editar"
                                                asp-action="Update" asp-controller="Cuppon" asp-route-Id="@item.Id">
                                            <i class="fas fa-pencil-alt" style="cursor:pointer;"></i>
                                        </button>


                                        <button class="btn btn-sm btn-danger mb-1"
                                                data-toggle="tooltip"
                                                data-placement="top"
                                                title="Eliminar">
                                            <i class="fas fa-trash"
                                               onclick="sweetRemove('/Cuppon/remove/@item.Id')" style="cursor:pointer;"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        @Html.RenderPagination(Model.Total, Model.Qyt, new DefaultPaginationConfig
       {
           LinkClass = "page-link",
           DoNotRenderForOnePage = true
       })

    </div>
</div>

<script src="~/js/Base/const/fetch.const.js" asp-append-version="true"></script>
<script src="~/js/coupon/index.js" asp-append-version="true"></script>
<partial name="_NotificationPartial" />


