@model PaginationResult<Offert>
@using Model.Enums
@{
    ViewData["Title"] = "Offerts";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="col-12 mb-2">
        <h3>Ofertas</h3>
        <a asp-action="Add" asp-controller="Offert" class="">
            Nuevo
        </a>
        <i>@Model.Total Ofertas</i>
        <hr />
    </div>
    <div class="col-12 mb-2">
        <form method="get">
            <div class="row justify-content-end">
                <div class="col-12 col-md-6 col-lg-3 mb-2">
                    <input class="form-control form-control-sm" placeholder="buscar" name="q" value="@ViewBag.Q" />
                </div>
                <div class="col-12 col-md-6 col-lg-2">
                    <button class="btn btn-sm btn-primary btn-block"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12">
        <div class="card mb-3">
            <div class="card-body">
                <div class="table-responsive animate__animated animate__fadeInLeft">
                    <table class="table table-sm table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Concepto</th>
                                <th>Descripción</th>
                                <th>Duración</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Results)
                            {
                                <tr>
                                    <td>@item.Concept</td>
                                    <td>@item.Description</td>
                                    <td>@item.Duration</td>
                                    @if (item.State == State.Active)
                                    {
                                        <td>

                                            <a class="btn btn-sm btn-primary mb-1" data-toggle="tooltip"
                                               data-placement="top"
                                               title="Actualizar"
                                               asp-action="Update" asp-controller="Offert" asp-route-id="@item.Id">
                                                <i class="fas fa-edit "></i>
                                            </a>
                                            <button class="btn btn-sm mb-1 btn-danger"
                                                    data-toggle="tooltip" data-placement="top" title="Eliminar">
                                                <i class="fas fa-trash"
                                                   onclick="sweetRemove('/Offert/delete/@item.Id')"></i>
                                            </button>
                                            <button class="btn mb-1 btn-sm btn-dark"
                                                     data-toggle="modal"
                                                   data-target="#exampleModal"
                                                     onclick="setIdModal('@item.Id')"
                                                  >
                                                <i class="fas fa-camera " 
                                                   data-toggle="tooltip"
                                                  data-placement="top"
                                                   title="Subir imagen"
                                                  ></i>
                                            </button>

                                        </td>
                                    }
                                    else
                                    {
                                        <td><b>N/A</b></td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">

        @Html.RenderPagination(Model.Total, Model.Qyt, new DefaultPaginationConfig
           {
               LinkClass = "page-link",
               DoNotRenderForOnePage = true
           })


    </div>
</div>





<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Subir imagen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadPic" enctype="multipart/form-data" asp-controller="Offert" class="form-group" method="post">
                    <input class="form-control mb-5 mt-5" type="file" name="Img" />
                    <input class="form-control mb-5 mt-5" type="hidden" name="OffertId" id="idimg" />
                    <button type="submit" class="btn btn-block btn-success"> Subir</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<script src="~/js/admin/offerts.js" asp-append-version="true"></script>
<partial name="_NotificationPartial" />
