@model IEnumerable<Model.Models.Product>
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <div class="mb-2">
        <h1 style="display:inline-block">Productos</h1>
        <a asp-action="Create" asp-controller="Product" class="btn btn-primary ml-3 btn-sm">
            <i class="fas fa-plus-circle"></i>
        </a>
    </div>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Listado de Productos
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Compañia</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Compañia</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Acciones</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ProductName</td>
                            <td>@item.Price</td>
                            <td>@item.CompanyName</td>
                            <td>@item.Brand</td>
                            <td>@item.Model</td>
                            <td>
                                <i class="fas fa-trash text-danger"></i>
                                <i class="fas fa-pencil-alt text-primary m-2 "></i>
                                <i class="fas fa-camera "></i>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

