@model PaginationResult<ApplicationUser>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var total = Model.Total > 0 ? (Model.Total - 1) : 0;
}

@inject IOptions<ImageServerOption> _options;


<div class="row">
    <div class="col-12">
        <h3>Usuarios</h3>
        <i>@(total) Usuarios  </i>
        <hr />
    </div>
    <div class="col-12 mb-2">
        <form asp-action="Users" method="get">
            <div class="row">
                <div class="col-12 col-sm-3 col-md-4 mb-2">
                    <input name="FullName" class="form-control form-control-sm" placeholder="Buscar... ej: Orbis" />
                </div>
                <div class="col-12 col-sm-3 col-md-4 mb-2">
                    <select class="form-control form-control-sm" name="IsLocked">
                        <option selected>Estado</option>
                        <option value="false">Activo</option>
                        <option value="true">Inactivo</option>
                    </select>
                </div>
                <div class="col-12 col-sm-3 col-md-4">
                    <button type="submit" class="btn btn-primary btn-block btn-sm"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>


    @if (total == 0)
    {
        <div class="col-12 mt-5 text-center">
            <h1 class="fa fa-sad-cry"></h1>
            <h1 class="text-center">No hay resultados</h1>
        </div>
    }
    else
    {
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered animate__animated animate__fadeInLeft" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Estado</th>
                                    <th>Numero</th>
                                    <th>Correo</th>
                                    <th>Dirreción de envio</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Results)
                                {
                                    if (item.UserName == User.Identity.Name) continue;

                                    <tr>
                                        <td>
                                            <img id="@item.Id" onclick="showImageInViewver('@item.Id')"
                                                 loading="lazy"
                                                 src="@(string.IsNullOrEmpty(item.ProfileImage) ? "/img/default.png" : $@"{_options.Value.BasePath}/{item.ProfileImage}" )" style="cursor:pointer;" width="50" />
                                            <span>@item.FullName</span>
                                        </td>
                                        @{
                                            string state = item.LockoutEnabled == false ? "Activo" : "Inactivo";
                                        }
                                        <td>@state</td>
                                        <td>@item.PhoneNumber</td>
                                        <td>@item.Email</td>
                                        <td>@item.Address</td>
                                        <td>
                                            @if (item.LockoutEnabled)
                                            {
                                                <a class="btn btn-sm btn-warning mb-1" asp-controller="Account" asp-action="BlockOrUnlockAccount" asp-route-Id="@item.Id">
                                                    <i class=" fa fa-unlock"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-sm btn-danger mb-1"
                                                   data-toggle="tooltip"
                                                   data-placement="top"
                                                   title="Bloquear al usuario"
                                                   asp-controller="Account" asp-action="BlockOrUnlockAccount" asp-route-Id="@item.Id">
                                                    <i class="fa fa-ban"></i>
                                                </a>
                                            }
                                            <span data-toggle="tooltip"
                                                  data-placement="top"
                                                  title="Enviar correo">
                                                <button type="button"
                                                        onclick="LoadPartialView('send-email-container', '/Email/Create?userId=@item.Id')"
                                                        data-toggle="modal" data-target="#email-modal"
                                                        class="btn btn-sm btn-dark mb-1">
                                                    <i class="fa fa-envelope"></i>
                                                </button>
                                            </span>
                                            <span data-toggle="tooltip"
                                                  data-placement="top"
                                                  title="Mas información">
                                                <button type="button" data-toggle="modal" data-target="#userModal"
                                                        onclick="LoadPartialView('userDetail','/Account/GetById?id=@item.Id')"
                                                        class="btn btn-sm btn-primary mb-1">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                            </span>

                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            @Html.RenderPagination(Model.Total, Model.Qyt, new DefaultPaginationConfig
       {
           LinkClass = "page-link",
           DoNotRenderForOnePage = true
       })
        </div>
        <div class="col-12">
            <!-- Modal User -->
            <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Cliente</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row justify-content-center">
                                <div class="col-12" id="userDetail">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <!-- Modal Email -->
            <div class="modal fade" id="email-modal" tabindex="-1" aria-labelledby="email-modal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Nuevo mensaje</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row justify-content-center">
                                <div class="col-12" id="send-email-container">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<partial name="_NotificationPartial" />
