@using Microsoft.Extensions.Options;
@inject IOptions<Model.Settings.InternalConfiguration> options
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FastShop</title>
    <link rel="icon" href="~/img/favicon.ico" type="image/png">
    <link rel="stylesheet" asp-append-version="true" href="~/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" asp-append-version="true" href="~/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" asp-append-version="true" href="~/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" asp-append-version="true" href="~/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" asp-append-version="true" href="~/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" asp-append-version="true" href="~/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" asp-append-version="true" href="~/css/style.css">
</head>
<body>
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <h1 class="navbar-brand logo_h" style="cursor:pointer;"><a asp-action="Index" asp-controller="Home"><i class="fas fa-fire text-primary w-25" style="font-size:30px;"></i> <span class="text-dark">@options.Value.AppName</span></a></h1>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                            <li class="nav-item active"><a class="nav-link" asp-controller="Home" asp-action="Index">Inicio</a></li>
                            <li class="nav-item "><a class="nav-link" asp-controller="Tracking" asp-action="Index">Tracking</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">Shop</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" asp-controller="Category" asp-action="Index">Categorias</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="Product" asp-action="Car">Carrito</a></li>
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <partial name="_LoginPartial" />
                            </li>
                        </ul>

                        <ul class="nav-shop">
                            <li class="nav-item"><button onclick="location.href = '/Product/Car'"><i class="ti-shopping-cart"></i><span class="nav-shop__circle" id="car-count">0</span></button> </li>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                            {
                                <li class="nav-item"><a asp-action="Index" asp-controller="Admin"><i class="fas fa-tachometer-alt"></i></a> </li>
                            }
                            <li class="nav-item"><a class="button button-header" asp-controller="Category" asp-action="Index">Productos</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="footer-area">
            <div class="container">
                <div class="row section_gap">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title large_title">Our Mission</h4>
                            <p>
                                So seed seed green that winged cattle in. Gathering thing made fly you're no
                                divided deep moved us lan Gathering thing us land years living.
                            </p>
                            <p>
                                So seed seed green that winged cattle in. Gathering thing made fly you're no divided deep moved
                            </p>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Quick Links</h4>
                            <ul class="list">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Shop</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Product</a></li>
                                <li><a href="#">Brand</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Contact Us</h4>
                            <div class="ml-40">
                                <p class="sm-head">
                                    <span class="fa fa-location-arrow"></span>
                                    Head Office
                                </p>
                                <p>123, Main Street, Your City</p>

                                <p class="sm-head">
                                    <span class="fa fa-phone"></span>
                                    Phone Number
                                </p>
                                <p>
                                    +123 456 7890 <br>
                                    +123 456 7890
                                </p>

                                <p class="sm-head">
                                    <span class="fa fa-envelope"></span>
                                    Email
                                </p>
                                <p>
                                    free@infoexample.com <br>
                                    www.infoexample.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row d-flex">
                    <p class="col-lg-12 footer-text text-center">
                        Copyright © @options.Value.AppName @DateTime.Now.ToShortDateString()
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <environment include="Development">
    </environment>
    <environment exclude="Development">
    </environment>
    <script src="~/vendors/jquery/jquery-3.2.1.min.js" asp-append-version="true"></script>
    <script src="~/vendors/bootstrap/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/vendors/skrollr.min.js" asp-append-version="true"></script>
    <script src="~/vendors/owl-carousel/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/vendors/nice-select/jquery.nice-select.min.js" asp-append-version="true"></script>
    <script src="~/vendors/jquery.ajaxchimp.min.js" asp-append-version="true"></script>
    <script src="~/vendors/mail-script.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
