@using Microsoft.Extensions.Options;
@inject IOptions<Model.Settings.InternalConfiguration> options
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FastShop</title>
    <link rel="icon" href="~/img/favicon.ico" type="image/png">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" rel="stylesheet" />
    <link rel="stylesheet" asp-append-version="true" href="~/lib/font-awesome/css/all.min.css">
    <link rel="stylesheet" asp-append-version="true" href="~/css/style.css">

    <link href="~/lib/limonte-sweetalert2/sweetalert2.css" rel="stylesheet" />
    <link rel="stylesheet" asp-append-version="true" href="~/lib/owl-carousel/owl.theme.min.css">
</head>
<body>
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <h1 class="navbar-brand logo_h" style="cursor:pointer;"><a asp-action="Index" asp-controller="Home"><i class="fas fa-fire text-primary w-25" style="font-size:30px;"></i> <span class="text-dark">@options.Value.AppName</span></a></h1>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                            <li class="nav-item active"><a class="nav-link" asp-controller="Home" asp-action="Index">Inicio</a></li>
                            <li class="nav-item "><a class="nav-link" asp-controller="Tracking" asp-action="Index">Tracking</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">Shop</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" asp-controller="Product" asp-action="Index">Productos</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="Cartitem" asp-action="Index">Carrito</a></li>
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <partial name="_LoginPartial" />
                            </li>
                        </ul>

                        <ul class="nav-shop">
                            <li class="nav-item"><button onclick="location.href = '/CartItem/index'"><i class="fa fa-shopping-cart"></i><span class="nav-shop__circle" id="car-count">0</span></button> </li>
                            @if (User.Identity.IsAuthenticated && User.IsInRole(nameof(AuthLevel.Admin)))
                            {
                                <li class="nav-item"><a asp-action="Index" asp-controller="Admin"><i class="fas fa-tachometer-alt"></i></a> </li>
                            }
                            <li class="nav-item"><a class="button button-header" asp-controller="Category" asp-action="Index">Productos</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="">
        <partial name="_CookieConsentPartial" />
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/lib/skrollr/skrollr.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery.mask/jquery.mask.min.js" asp-append-version="true"></script>
        <script src="~/lib/owl-carousel/owl.carousel.min.js" asp-append-version="true"></script>
        <script src="~/lib/limonte-sweetalert2/sweetalert2.js" asp-append-version="true"></script>
        <script src="~/js/Base/genericSweetAlert.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="footer-area">
            <div class="container">

            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row d-flex">
                    <p class="col-lg-12 footer-text text-center">
                        Copyright © @options.Value.AppName @DateTime.Now.ToShortDateString()
                    </p>
                </div>
            </div>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
