@model Model.Models.Product
@inject IOptions<ImageServerOption> _options;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="owl-carousel owl-theme s_Product_carousel">
                    @foreach (var item in Model.ProductPics)
                    {
                        var src = $@"{_options.Value.BasePath}\{item.Path}";
                        <div id="@item.Id" class="single-prd-item">
                            <img class="img-fluid" height="200" src="@src" alt="@item.Path">
                        </div>
                    }
                    @if (!Model.ProductPics.Any())
                    {
                        <div id="@Guid.NewGuid()" class="single-prd-item">
                            <img class="img-fluid" height="200" src="~/img/default.png" alt="default">
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>@Model.ProductName</h3>
                    <h2>$@Model.Price</h2>
                    <ul class="list">
                        <li><a class="active" href="#"><span>Categoria</span> : @Model.Category.Name </a></li>
                        <li><a class="active" href="#"><span>Compañia</span> : @Model.CompanyName </a></li>
                        <li><a class="active" href="#"><span>Modelo</span> : @Model.Model </a></li>
                        <li><a class="active" href="#"><span>Marca</span> : @Model.Brand </a></li>
                    </ul>
                    <div class="product_count">
                        <label for="qty">Cantidad:</label>
                        <input type="number" name="qty" id="qyt" min="1" max="@Model.Quantity" size="2" maxlength="12" value="1" title="Cantidad:" class="input-text qty">
                        @{ var picp = Model.ProductPics.FirstOrDefault() != null ? Model.ProductPics.FirstOrDefault().Path : "default.png"; }
                        <a class="button primary-btn" href="#" onclick="addToCar('@Model.Id', document.getElementById('qyt').value , '@Model.ProductName' , '@Model.Price', '@picp' , '@Model.Quantity')">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/car/app.js" asp-append-version="true"></script>

