@model IEnumerable<DataLayer.Models.Cart.CartItem>
@{
    double allTotal = 0;
}




<div class="container">
    <div class="cart_inner">
        @if (Model.Any())
        {
            <div class="table-responsive">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Total</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            double total = item.Product.Price * item.Quantity;
                            allTotal += total;
                            var spanId = item.Id + string.Empty + item.ProductId;
                            <tr>
                                <td>@item.Product.ProductName</td>
                                <td>@item.Product.Price.ToString("C")</td>
                                <td>
                                    <input type="hidden" id="max-value-product" value="@item.MaxQuantity" />
                                    <input disabled
                                           value="@item.Quantity" />
                                    <span class="text-danger" style="display:none;" id="@spanId">Pulse el boton (<i class="fa fa-edit"></i>) para actualizar</span>
                                </td>
                                <td class="money">@total.ToString("C")</td>
                                <td>
                                    <i class="fa fa-trash-alt text-danger ml-2" onclick="sweetRemove(`/cartItem/remove/@item.Id`)" style="cursor:pointer;"></i>
                                    <i class="fa fa-edit text-primary ml-2" onclick="updateItem('@item.Id', `@item.ProductId`)" style="cursor:pointer;"></i>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>

                                @{ if (ViewBag.coupon != null)
                                    {
                                        var cp = ViewBag.coupon as Cupon;

                                        if (cp.IsByPercent)
                                        {

                                            allTotal = (allTotal * cp.Amount) / 100;
                                        }
                                        else
                                        {
                                            allTotal -= (double)cp.Amount;
                                        }
                                    }
                                }
                                Total : <b class="">@(allTotal.ToString("C"))</b>
                                @{
                                    if (ViewBag.coupon != null)
                                    {
                                        var cp = ViewBag.coupon as Cupon;
                                        <p>
                                            Cupón Aplicado: <b>@(!cp.IsByPercent ? cp.Amount.ToString("C") : cp.Amount + "%")</b>
                                        </p>
                                    }
                                }
                            </td>
                            <td>

                                @{
                                    if (ViewBag.coupon == null)
                                    {
                                        <div>
                                            <form method="get" asp-action="Index">
                                                <label>¿Tienes un cupón?</label> <br />
                                                <input name="code" placeholder="CD154X" />
                                                <button class="btn btn-primary btn-sm">Aplicar</button>
                                            </form>
                                        </div>
                                    }
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            if (ViewBag.coupon != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Cupón aplicado!</strong> Recuerda solo puedes aplicar un cupón a la vez
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            <form method="post" asp-action="Add" asp-controller="Sale">
                @if (ViewBag.coupon != null)
                {
                    <input name="Code" type="hidden" value="@ViewBag.coupon.Amount" />
                }
                <p style="display:none" id="alert-await" class="alert alert-info">Espere un momento...</p>
                <button id="proccess-sale" onclick="newShop()" class="btn btn-outline-dark btn-sm"> Procesar la compra! </button>
            </form>
        }
        else
        {
            <div class="text-center">
                <h1><i class="far fa-sad-tear"></i></h1>
                <h2>No hay productos</h2>
            </div>
        }

    </div>


</div>
<script src="~/js/car/app.js" asp-append-version="true"></script>
<partial name="_NotificationPartial" />
